.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner h1 {
    padding: 10px 0;
    text-align: center;

}

/* custom added by Rahmah */
.profile .profile_inner h2 {
    padding: 8px 0;

}


.profile .profile_inner span {
    padding: 6px 0;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
    font-size: 18px;
    
    
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 7px 4px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0.8px;
    font-size: 16px;    
    text-align: center;
}

.button:active {
    transform: scale(0.96);
    color:rgba(107, 225, 186, 0.885); /*custom added by Rahmah*/
    background:rgba(146, 146, 146, 0.918); /*custom added by Rahmah*/
    text-decoration: underline;
}

/* custom added by Rahmah */
.button:hover {
    color:rgba(107, 225, 186, 0.885);
    background:rgba(146, 146, 146, 0.918);
}

/* custom added by Rahmah */
.profile .profile_inner h1, h2, p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .profile .profile_inner p {
    font-size: 18px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .profile .profile_inner h1 {
    font-size: 28px;
  }

  .profile .profile_inner h2 {
    font-size: 26px;
  }
  .profile .profile_inner p{
    font-size: 14px;
  }
}
/* .typewriter1-cursor{
  display:inline-block; 
}

.typewriter2-cursor{
 display:inline-block;

} */

/* .typewriter div {
  overflow: hidden;
  border-right: 3px solid aquamarine ;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 2px; 
  animation: 
    typing 2.5s steps(25, end),
    blink-caret 1.5s step-end infinite;
  width: 0;
  animation-fill-mode: both;
  margin-top: 5px;
}  */




/* .title_typewriter {
  overflow: hidden;
  width: 0;
  margin: 0 auto; 
  border-right: 3px solid aquamarine ;
  white-space: nowrap;
  animation: 
    typing 2s steps(25, end),
    blink-caret 1.5s step-end infinite;
  animation-fill-mode: forwards;
}

.subtitle_typewriter {
  overflow: hidden;
  width: 0;
  margin: 0 auto; 
  border-right: 3px solid aquamarine ;
  white-space: nowrap;
  animation: 
    typing 2s steps(25, end),
    blink-caret2 1.5s step-end infinite;
  animation-fill-mode: forwards;
} */

/* .paragraph_typewriter {
  overflow: hidden;
  width: 0;
  margin: 0 auto; 
  border-right: 3px solid aquamarine ;
  white-space: nowrap;
  animation: 
    typing3 2s steps(25, end),
    blink-caret3 1.5s step-end infinite;
  animation-fill-mode: forwards;
  margin-top: 5px;
} */

.paragraph_typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid aquamarine; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing3 3s steps(35, end),
    blink-caret 2.5s step-end infinite;
  width: 0;
  animation-fill-mode: forwards;
}

/* The typing effect */
 /* @keyframes typing {
    from { width: 0 }
    to { width: 99% }
    
  }

@keyframes typing2 {
    from { width: 0% }
    to { width: 63% }
    
  } */
  
@keyframes typing3 {
    from { width: 0 }
    to { width: 100% } 
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to {border-color: transparent} 
    20% {border-color: aquamarine;}
  }
  /* @keyframes blink-caret2 {
    from, to { border-color: aquamarine }
    50% { border-color: transparent }
  }

  @keyframes blink-caret3 {
    from, to { border-color: aquamarine }
    50% { border-color: transparent }
  } */